:root{
    --bg: hsl(0,0%,90%);
    --nav-bg: hsl(0,0%,93%);
    --clock-bg: linear-gradient(to bottom right, hsl(0,0%,90%) 70%, hsl(0,0%,98%) );

    --header: hsl(0,0%,10%);
    --text: hsl(0,0%,20%);

    --anchor: hsl(26, 93%, 55%);
    --anchor-hover: hsl(26,93%,50%);

    --higher-anchor: hsl(121, 50%, 42%);
    --higher-anchor-hover: hsl(121,72%,32%);

    --border: hsl(0,0%,0%);
    --error: hsl(0, 85%, 44%);
}

*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: var(--bg);
}

i{background-color: transparent}

//Header
h1{color: var(--header)}

nav{
    width: 100%;
    height: 3em;
    position: fixed;
    top: -17px;
    left: 0;
    border: 1px solid var(--border);
    border-left: none;
    background: var(--nav-bg);
    

    & ul{
        width: 100%;
        height: 30px;
        background: var(--nav-bg);
        border-bottom: 1px solid var(--border);
        padding: 10px;
        margin-bottom: 10px;

        & li{
            background: inherit;
            margin: 5px 0 0 40px;
            list-style-type: none;
            float: left;
            text-align: center;

            & a{background: inherit}

            & .higher{
                background: inherit;
                color: var(--higher-anchor);

                &:hover{
                    color: var(--higher-anchor-hover);
                    font-weight: 600;
                }
            }
        }
    }

    & svg{right: 5px}
}

#themeButton{
    background: var(--bg);
    float: right;
    position: fixed;
    top: 5px;
    right: 0;
}

#clock{
    width: 20%;
    height: 100px;
    background: var(--clock-bg);
    border: 7px solid var(--anchor);
    border-radius: 20px;
    padding: 5px;
    margin: 80px 0 40px 40%;
    position: relative;
    text-align: center;
    user-select: none;

    & span{
        background: transparent;
        color: var(--anchor);
        font-family: monospace;
        font-size: 4rem;
    }

    & #deficitContainer{
        background: transparent;
        font-family: monospace;
        position: absolute;
        bottom: 7px;
        right: 7px;

        & span{
            color: var(--anchor);
            font-size: 1rem;
        }
    }
}

//Main
main{
    align-items: center;

    & section h1{margin-left: 30%;}
}

table{
    border: 1px solid var(--border);
    border-collapse: collapse;
    border-radius: 10px;
    margin: 0 0 50px 30%;

    & th{
        color: var(--header);
        border: 1px solid var(--border);
        margin-right: 20px;
    }

    & td{
        color: var(--text);
        border: 1px solid var(--border);
        margin-left: 7px;
        padding: 7px;

        &:hover{
            color: var(--header);
            text-decoration: none;
            font-weight: 600;
        }

        & ul{
            list-style: lower-greek;
        }
        & li a{
            color: var(--text);
            margin-bottom: 3px;

            &:hover{
                color: var(--header);
                font-weight: 600;
            }
        }
    }
}


a{
    color: var(--anchor);
    text-decoration: none;

    &:hover{
        color: var(--anchor-hover);
        font-weight: 600;
    }
}

.higher a{
    color: var(--higher-anchor);

    &:hover{
        color: var(--higher-anchor-hover);
        font-weight: 600;
    }
}

footer{color: var(--text)}

checkbox{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid var(--border);
    border-radius: 4px;
    color: #fff;
    text-align: center;

    --unchecked-gradient: linear-gradient(to top right, hsl(0, 54%, 36%),hsl(0, 61%, 48%));
    --unchecked-gradient-hover: linear-gradient(to top left, hsl(0, 61%, 48%),hsl(0, 54%, 36%));

    --mixed-gradient: linear-gradient(to top, hsl(31, 78%, 52%), hsl(20, 69%, 48%));
    --mixed-gradient-hover: linear-gradient(to top right, hsl(20, 69%, 48%), hsl(31, 78%, 52%));

    --checked-gradient: linear-gradient(to top right, hsl(100, 67%, 35%), hsl(136, 48%, 30%));
    --checked-gradient-hover: linear-gradient(to top right, hsl(136, 48%, 30%), hsl(100, 67%, 35%));

    &[aria-checked="false"]{
        background: var(--unchecked-gradient);
        &:hover{background: var(--unchecked-gradient-hover)}
    }

    &[aria-checked="mixed"]{
        background: var(--mixed-gradient);
        &:hover{background: var(--mixed-gradient-hover);}
    }

    &[aria-checked="true"]{
        background: var(--checked-gradient);
        &:hover{background: var(--checked-gradient-hover);}
    }
}