:root {
  --bg: hsl(0,0%,90%);
  --nav-bg: hsl(0,0%,93%);
  --header: hsl(0,0%,10%);
  --text: hsl(0,0%,20%);
  --anchor: hsl(26, 93%, 55%);
  --anchor-hover: hsl(26,93%,50%);
  --higher-anchor: hsl(121, 50%, 42%);
  --higher-anchor-hover: hsl(121,72%,32%);
  --border: hsl(0,0%,0%);
  --error: hsl(0, 85%, 44%);
}

* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background: var(--bg);
}

i {
  background-color: transparent;
}

h1 {
  color: var(--header);
}

nav {
  width: 100%;
  height: 3em;
  position: fixed;
  top: -17px;
  left: 0;
  border: 1px solid var(--border);
  border-left: none;
  background: var(--nav-bg);
}
nav ul {
  width: 100%;
  height: 30px;
  background: var(--nav-bg);
  border-bottom: 1px solid var(--border);
  padding: 10px;
  margin-bottom: 10px;
}
nav ul li {
  background: inherit;
  margin: 5px 0 0 40px;
  list-style-type: none;
  float: left;
  text-align: center;
}
nav ul li a {
  background: inherit;
}
nav ul li .higher {
  background: inherit;
  color: var(--higher-anchor);
}
nav ul li .higher:hover {
  color: var(--higher-anchor-hover);
  font-weight: 600;
}
nav svg {
  right: 5px;
}

#themeButton {
  background: var(--bg);
  float: right;
  position: fixed;
  top: 5px;
  right: 0;
}

main {
  align-items: center;
}
main section h1 {
  margin-left: 30%;
}

table {
  border-collapse: collapse;
  border-radius: 10px;
  margin: 0 0 50px 30%;
}
table tr {
  border-bottom: 1px solid var(--border);
  margin-bottom: 21px;
}
table th {
  color: var(--header);
  border-bottom: 4px solid var(--border);
  margin-right: 20px;
}
table td {
  color: var(--text);
  border-bottom: 1px solid var(--border);
  padding: 7px;
}
table td:hover {
  color: var(--header);
  text-decoration: none;
  font-weight: 600;
}
table td ul {
  list-style: lower-alpha;
}
table .code {
  border-right: 1px solid var(--border);
}
table .questionbox {
  width: 20px;
  border-left: 1px solid var(--border);
}
table .video {
  padding: 0 5px 0 5px;
}

a {
  color: var(--anchor);
  text-decoration: none;
}
a:hover {
  color: var(--anchor-hover);
  font-weight: 600;
}

.higher a {
  color: var(--higher-anchor);
}
.higher a:hover {
  color: var(--higher-anchor-hover);
  font-weight: 600;
}

checkbox {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid var(--border);
  border-radius: 4px;
  color: #fff;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  --unchecked-gradient: linear-gradient(to top right, hsl(0, 54%, 36%),hsl(0, 61%, 48%));
  --unchecked-gradient-hover: linear-gradient(to top left, hsl(0, 61%, 48%),hsl(0, 54%, 36%));
  --mixed-gradient: linear-gradient(to top, hsl(31, 78%, 52%), hsl(20, 69%, 48%));
  --mixed-gradient-hover: linear-gradient(to top right, hsl(20, 69%, 48%), hsl(31, 78%, 52%));
  --checked-gradient: linear-gradient(to top right, hsl(100, 67%, 35%), hsl(136, 48%, 30%));
  --checked-gradient-hover: linear-gradient(to top right, hsl(136, 48%, 30%), hsl(100, 67%, 35%));
}
checkbox[aria-checked=false] {
  background: var(--unchecked-gradient);
}
checkbox[aria-checked=false]:hover {
  background: var(--unchecked-gradient-hover);
}
checkbox[aria-checked=mixed] {
  background: var(--mixed-gradient);
}
checkbox[aria-checked=mixed]:hover {
  background: var(--mixed-gradient-hover);
}
checkbox[aria-checked=true] {
  background: var(--checked-gradient);
}
checkbox[aria-checked=true]:hover {
  background: var(--checked-gradient-hover);
}

footer {
  color: var(--text);
}

/*# sourceMappingURL=style.css.map */
